/* Home.css */

/* Conteneur principal de la page d'accueil */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa; /* Fond clair */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
}

/* Titre principal */
.home h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #343a40; /* Couleur sombre */
  margin-bottom: 20px;
}

/* Paragraphe */
.home p {
  font-size: 1.2rem;
  color: #495057; /* Gris foncé */
  margin: 10px 0;
}

/* Style du bouton */
.home button {
  background-color: #007bff; /* Couleur bleue */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home button:hover {
  background-color: #0056b3; /* Couleur bleue plus foncée au survol */
}

/* Style du lien */
.home a {
  font-size: 1rem;
  color: #007bff;
  text-decoration: none;
  margin-top: 20px;
  transition: color 0.3s ease;
}

.home a:hover {
  color: #0056b3; /* Couleur du lien au survol */
}
