/* App.css */
.App {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;

  min-height: 100vh; /* S'assure que la hauteur minimale de l'application couvre toute la fenêtre */
  padding-bottom: 40px; /* Espacement en bas */
}

.App-header {
  background-color: #f0f2f5; /* Couleur de fond claire pour l'en-tête */
  padding: 40px 20px; /* Padding pour l'en-tête */
  color: black; /* Couleur du texte de l'en-tête */
}

.logo {
  height: 200px; /* Taille du logo */
  margin-bottom: 20px; /* Marge sous le logo */
}

.title {
  font-size: 2rem; /* Taille de la police du titre */
  font-weight: bold; /* Poids du texte du titre */
}
