/* App.css */
.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  
  min-height: 100vh;
  padding-bottom: 40px;
}

.App-header {
  background-color: #f0f2f5;
  padding: 40px 20px;
  color: black;
}

.logo {
  height: 200px;
  margin-bottom: 20px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}
